@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {

    /* Primary */
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    /* Neutral */
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);

}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.comment-box{
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 1rem;
    column-gap: 1.4rem;
    border-radius: 0.4rem;
    margin-bottom: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 53%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.comment-content, .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.user-info {
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    column-gap: 0.8rem;
    /* width: 35%; */
}

.user-profile {
    width: 30px;
    height: 30px;
}

.btn {
    border: none;
    background: none;
    color: var(--light-grayish-blue);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    /* padding: 0.7rem; */
    padding: 0.5rem 0.8rem;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.3;
}

.btn.delete {
    color: var(--soft-red);
    padding-right: 0;
}
.btn.edit {
    padding-left: 0;
}

.button-count {
    background-color: var(--very-light-gray);
    border-radius: 0.5rem;
    /* padding: 0 0.4rem; */
    /* height: 6rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.7rem;
}

.button-count p {
    color: var(--moderate-blue);
    font-weight: 500;
    margin: 0;
}

.username {
    font-weight: 500;
}

.creation-date {
    color: var(--grayish-blue)
}

.reply {
    color: var(--moderate-blue);
    font-weight: 500;
    /* padding-left: 0.6rem; */
}

.reply.btn.delete {
    padding-left: 4.5rem;
}

.reply-img {
    padding-right: 0.3rem;
}

.user-content {
    color: var(--grayish-blue);
    width: 97%;
    line-height: 1.5rem;
    margin-top: 0.2rem;
}

.reply-box {
    width: 80%;
    margin-bottom: 0;
    /* margin-left: auto; */
    /* margin-right: 0; */
    
}

.under {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 1rem;
    /* margin: 0 auto; */
    border-left: 3px solid var(--light-gray);
    width: 100%;
}

.replying-to {
    color: var(--moderate-blue);
    font-weight: 500;
}

.user-comment {
    background-color: var(--white);
    width: 95%;
    display: flex;
    padding: 1rem;
    column-gap: 1rem;
    border-radius: 0.4rem;
    margin-top: 2rem;
    height: 6rem;
}

.you {
    background-color: var(--moderate-blue);
    color: var(--very-light-gray);
    padding: 0.1rem 0.4rem 0.2rem;
    border-radius: 0.2rem;
    font-weight: 500;
    /* margin-right: 0.3rem; */
    font-size: 14px;
}

.user-comment input {
    width: 80%;
    font-family: 'Rubik', sans-serif;
    padding: 0 1rem;
    /* min-height: 6rem; */
    border: 1px solid var(--light-gray);
    border-radius: 0.4rem;
    text-align:start;

    /* position: relative; */
}

.user-comment input::placeholder {
    position: relative;
    /* top: 5px; */
    /* left: 15px; */
    color: var(--grayish-blue);
}

.user-comment input:hover {
    cursor: pointer;
}

.btn.send {
    background-color: var(--moderate-blue);
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    width: 6rem;
    height: 2.8rem;
    padding: 0.7rem 0.4rem;
}